/* peak debug bar */
/* CSS RESET http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
#pkdebugbar  div, #pkdebugbar  span, #pkdebugbar h1, #pkdebugbar  h2, #pkdebugbar  h3, #pkdebugbar  h4, #pkdebugbar  h5, #pkdebugbar  h6, #pkdebugbar  p, #pkdebugbar  blockquote, #pkdebugbar  pre, #pkdebugbar a, #pkdebugbar  code, #pkdebugbar del, #pkdebugbar  dfn, #pkdebugbar  em, #pkdebugbar  img, #pkdebugbar  ins, #pkdebugbar  kbd, #pkdebugbar  q, #pkdebugbar  s, #pkdebugbar  samp, #pkdebugbar small, #pkdebugbar  strike, #pkdebugbar  strong, #pkdebugbar  sub, #pkdebugbar  sup, #pkdebugbar  tt, #pkdebugbar  var, #pkdebugbar b, #pkdebugbar  u, #pkdebugbar  i, #pkdebugbar  center, #pkdebugbar dl, #pkdebugbar  dt, #pkdebugbar  dd, #pkdebugbar  ol, #pkdebugbar  ul, #pkdebugbar  li, #pkdebugbar fieldset, #pkdebugbar  #pkdebugbar  form, #pkdebugbar  label, #pkdebugbar  legend, #pkdebugbar table, #pkdebugbar  caption, #pkdebugbar  tbody, #pkdebugbar  tfoot, #pkdebugbar  thead, #pkdebugbar  tr, #pkdebugbar  th, #pkdebugbar  td, #pkdebugbar article, #pkdebugbar  aside, #pkdebugbar  canvas, #pkdebugbar  details, #pkdebugbar  embed, #pkdebugbar  figure, #pkdebugbar  figcaption, #pkdebugbar  footer, #pkdebugbar  header, #pkdebugbar  hgroup, #pkdebugbar  menu, #pkdebugbar  nav, #pkdebugbar  output, #pkdebugbar  ruby, #pkdebugbar  section, #pkdebugbar  summary, #pkdebugbar time, #pkdebugbar  mark {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
#pkdebugbar ol, #pkdebugbar  ul {
	list-style: none;
}
#pkdebugbar table {
	border-collapse: collapse;
	border-spacing: 0;
}

#pkdebugbar {
 position:fixed;
 bottom:0;
 left:0;
 height:28px;
 color:#000;
 margin:0;
 padding:0;
 font: 11px/1.4em Lucida Grande, Lucida Sans Unicode, Courrier new,sans-serif;
 z-index: 1;
 width:100%;
 opacity:1;
}
#pkdebugbar .pkdbpanel {
 width:100%;
 border-top:1px solid #bbb;
}
#pkdebugbar pre {
 font:12px "Consolas", "Lucida Console", sans-serif;
 background:#f1f1f1 !important;
 border:0;
 padding:4px 7px;
}
#pkdebugbar small {
 font-size:10px;
}
#pkdebugbar table {
 border:0;
 background:none;
 font-size:11px;
 margin:10px 0 5px 0;
 width:99%;
}
#pkdebugbar table td, #pkdebugbar table th {
 border:0;
 background:#f1f1f1;
 border-bottom:1px solid #eee;
 font-size:11px;
 padding:1px 8px;
 margin:0;
 color:#111;
}
#pkdebugbar ul {
 list-style-type:none;
 padding:0;
 margin:0;
 background:#eee;
}
#pkdebugbar ul li {
 float:left;
 border-right:1px solid #bbb;
}
#pkdebugbar .gradient, #pkdebugbar ul li, #pkdebugbar {
 background:#eee;
 background-image: -moz-linear-gradient(100% 100% 90deg, #ccc, #eee) !important;
 background-image: -webkit-gradient(linear, left bottom, left top, from(#ccc), to(#eee)) !important;
}
#pkdebugbar ul li:first-child a {
 text-shadow:1px 1px 0px #f5f5f5;
}
#pkdebugbar ul li:last-child {

}
#pkdebugbar li a, #pkdebugbar div.icon {
 display:block;
 line-height:28px;
 padding:0 22px;
 margin:0;
 text-decoration:none;
 color:#000;
 background-position: 8px 5px;
 background-repeat: no-repeat;
 outline-style:none;
 font-size:11px;
 letter-spacing:0;
 text-decoration:none !important;
}
#pkdebugbar div.icon {
 width:24px;
 height:24px;
 padding:0;
 float:left;
 cursor:pointer;
}
#pkdebugbar .current, #pkdebugbar .current a {
 background-color:#fff;
}
#pkdebugbar a.pkdb_tab {
 text-decoration:underline;
 color:#0000EE;
 cursor:pointer;
}
#pkdebugbar li a {
 background-position:10px 7px;
}
#pkdebugbar li a.clock {
 background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAmRJREFUeNqkU0trGlEUvjOOKVHHUaO0DpZIV32FxMCEvCSJuAhtwO5CQpJdsskuG7f9H9mZgiBdKKQluywiErSESGlxVQjUXusjdHxMxGfOmTrDlC666IHv3jvn3u+7Z845lxkOh+R/jMMhEokQlmWJyWQiDMPwgOfg9gGE0TkZ8B0u+wpo9Pt9MhgMSCqV+i1gsKc2u31tLhhcm5ufl7wejxedtFKh2cvLXPbi4rwhy+fgKvwRgUZ2eTxvtg8ODn1er89hsZDP19dkamaGTIqiX1hf9z+bnl6IHx8LZUqTmgiLA4Rlt/J8eHt//9Dpcvns4+Oq4lUup6ujD/d24AKIMowcXQD+6aUUDK7yDofPMjZGWIZRSe12WxdAH+7Z4MziysoqcnSBXq/nnwoEJFzX7+7ITbWqolAo6GsE7mHyApIkIUfPAXw4BYfjoXbbpNutzo1GQ1+r54BcvL0leBY5RgEWyzgwkF+FwyQUCpHdzU3C87wKm81GZpeWyMLyssoxCshNWS5bBOGxdls8kSA7W1vkXTyuR4AtJ3c6RKnXy8jRc9Dtdm8+ZTJ5DhoJw0QTXC6VjLMGSCB5ANXIptN55BirkP+QTKY7zSbtjwQ0EaNhAtl2m75PJNLI0QVg49fPUunsbTR6Itdq1MSyf/U8+hRZptGjoxNK6Rly0M/gY2KwxtB5Vqt1VhTFyO7e3uLrjY0Xj0RxAjuiRGnt4+npl1gslikWi6lWq3WlKApRuSMBTOYEwM1xnNNsNj+BhyUaHxOE/AP++9soeRVAFbg9TQBjtozA/eMF9wEtgALcwb0AAwCoRifZl32HrAAAAABJRU5ErkJggg==");
 padding-left:30px;
}
#pkdebugbar li a.memory {
 background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAjVJREFUeNqck8trE1EUxr95ZZpUzeRZaUWkiCB1IURx6z/gwoV7cVEQRARx5cIiuHYjuPVfEHQv7mx0EXRTEemiSdOmedJkHvfluXfaNOmuDhzuYeZ83/mde+darx6s3QOwjP97Wq5UamXjw5f3QrIzKR3bw8bDu49dKZXVbm5DiHmDJz+AXxPf5DdyMd7VThk4HrSWDKRdrF4EY+Fcwc/DIW7dTlXf63UE5fzcd8/LQmtdIZXdae2AnyJQ0kev18NgMMBa4RPeND6b91XrMu5Xn8ElAq0lA2kHlSqSZJ5AiZHuAKUUpBCo1VKazc06LhSLyGSyEIZASCJoGoLRo5ewGr/hXF+FXH9rDHRQDbrdrqERnPK9vZRApAZOUK4gJoJ+Ywt3XqybTk/5Nj6KqykB41QsUjMmcL5QgK8JSGtG6LRb4JyBQ+HwawPhty3w19dORFxMc055b38fruulI3ByyZfKiOMQB2TA4gQMVMyYEZngaUgahRPBuSCA72ehtdrAPmjvGgJGBkkcI4EEC8MZbE7FNIYUYIlAv9MxBPx4D/KlEqIoxK42iCIyoI4xO8Ge2QOecCzm81hYONqDhHFP76om0J1TAgE+CafHKGYMNMGQTmRMBFrrjsZhrrS0ZAz+kIFyXbilADyMYNs2zeojHE1gWZbJx6MIul6PoLXWzWXned63VvXRVfri0vGP1MytoLV4dEm9FpBpTn+yK0NnR6/DWP21aM1QBBTuGa8ypxj8E2AAy9+NOgeh/UsAAAAASUVORK5CYII=");
 padding-left:30px;
}
#pkdebugbar li a.files {
 background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAilJREFUeNqMk89rE1EQx2d33/6isZsURGmpOTRRiA200FJLKHgR9tBC/4aCePA/0P+hJ0V7FVrBswTai14U+8NbFUFLgocmSLKaNJvd7bpvnXntLjWE6oPhvZ3Z+c5n581K8tgY3KxUYHp2FiRJAtd1QZZl0HV9EZ/LcMmK47jB7LU1kTAQWLy/svLo3tzcMo/jocl9328/3thYZ4MBrAydbrd8Z2ZmudHpDE02DQNeVKuvv9Trr9jFqriVFUUBXdOWtvf2wHEcYIxBFEVgmiZcGRmBW/k8cPS9rFbfq6r6jf0vshcEsH1wABKeyXq9nvAzHwNU+V/Iu4eHoGPldrsN1ugonCQCiVIXhU48b6gAIX9vNuHu/DzRAsOm0239JUBYtVoNLMsSwRuTk6kAxQLfh99hCOHpKTC8+n6/fyaQoMg4A8ViUTQsl8uBcuFqKUZXfQ39tFQ8k6AQSFHQSQTZbBZarRZwzlOrLCyIpiVCCu5xEKgiL0XBQKFQEAlEQCQWNi+JSeinhhuaBoqKuZybgBQsQVHPCahJ1AcSvjo1lcaymQxcR2Ea92dbW2/B877C8bFJH07vPGzs7z+h6glmuqNpWDFTKu3InH8Uc+O6n3mz+Q6PvxiilFZte+nT0ZF4kRBNMsQ3cawT5DgMd6N6/XkyuGi+sNu2vf7DcX5GnMfDDCczfrq5+QbGx1dppgZnRJInJh5IhpG/9Lc9Q/6AR+fc0vVHgAEAIioXj94na3YAAAAASUVORK5CYII=");
 padding-left:30px;
}
#pkdebugbar li a.variables {
 background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAlRJREFUeNqMU89rE0EU/naygUYbtAj+CgURUmqqoqZCKBUh9SpevAlCbz35H9hCEPFchDZQEANREPWmIBWhEDVShcUgpLUXaTE2xWRtEjdpdmd9b5JtFhXxwduZ2TffN99780a7Oj0NNk3TLtNwBP+2V1LKNek4cF0XxVwOOk/YaDyamZmZ36Fgm11KOBTz4oZhILO4OMVnkX/mf8Pj4xDM1nVNMqjdVr7TbMJqNFCv11Gr1dT4OJWap30ThI16knSHwF3TmFrQNxgI9ETbNmwirlQquJvNIhmLzc1mszcpcksRyB6BYLBQNPiDJJlMqnTC4TBeGEZ1V4HtV+AjSBtlpD+WqTjA9dh+XBvep5QoPkq3lwKx/54CW6awhdHR82r+6P0yJk8eUEr4EML8laCTghAAnWRXq1gpFjsnmib6gkE1D3QIxC7I5iJ1XDBteWEBn8bGIBo/oROInedcEybhkfd6OD+BqsEGEZzeE8GNbwUMPXuCwJeHOB55jtu5C8hv3EeQFPJeD6fznXtqWEGLSNzoYUw667j0vYR756o4c/YEReJ4vfwAE9Ep7hPRuwVfDViBRZOttwW0zW1UwzoatT6srqyqDWalpdrQ9tfgR6nUS4F+9MfjeLe3jQ+RELaGBqkbJURAKLfqnVvyUmCsvra0hMFEAqGBAZ0ZL6bTqmEkvwNaP527gjcvv4KfxKljcaWAWly36JbW83mlIkR+8FAikXJ9RgSuI6VLzePS43LpkblN23ZbtOa9jGGs7hFsb26a/SMjd/AfJi3L7BLYvwQYAF9CY3LV2hmVAAAAAElFTkSuQmCC");
 padding-left:30px;
}
#pkdebugbar li a.registry {
 background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAlRJREFUeNp8U11IU2EYfs46cxtzjFqNfm1TsKRmxMTSQC/K7KIguoisSLCLoAsvugi8SbrqUrTddOEo6iKisJpY8y6tZbGCGjkZojNym25Mtp3T5jw/fd/R/ZwYe+HhfD/v83zP+37fYVydUIJhUIxFQ1NN2HjkPBnu2lqK2/hf4/ZsMF/IkeXNL1ui4RGBkw52xIJsc3eX9WRf/x46n3GPRP94X96DGcJW7jeCW8rBDzuLAv6zl/ucgUAA+3pHodfXwGyuVTZSKQ65XB7LT27C4XBg8oWbCrQoDkSpZKHx9ii+PH2GqSkvIZthMpmg1WrB8TzSqRSsHXfQ2HMF7567ixxWFEsCtKyr169hcWEBlcJeX6/klHNUDkTSGUmSUGezVRQQyZ6s0aDAsS0zagcSERAkCdWCJddFOWdCDKQ0mQuS+gShXLFCMERgO7et1pKWxmLAsEYg+QXQEqhANUSiUUT0u032wcGLceA+KwjqHmxUKYFP+PD9RxYDvvm93Q0NQz2y/F7tYKuESkivTuN3YAgXTnzFpWP7o/5c7jGhTLIbotpBpR5kkzOIzo6grdUJz8RnHLUkM1lO9zNuATRL3H89oC7KwCU+ITI7rJBfez7iUNtdrK/KmWZDDn4dEXgVAcJEZD2/eY20jAL45DxiQRfaW1sw5pnGgeP92HmwQ8mlHMrVEIeGtyuwJjPkTsmzNRiNRazMjeN0lwtvJnw4fGoAdU3nlByaSzmUS/9GA4F1iUfohkmnqt2bh7O3/cFaOoz438SHTGF9TUaIcgiEfwIMAGZKSabiyMY3AAAAAElFTkSuQmCC");
 padding-left:30px;
}
#pkdebugbar li a.db {
 background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAdtJREFUeNqcks2KE0EQx//d08yk5yuDiLB5gFxz8C6ICAu7HjwE7x4kIOzFe455ByFvEQ/evAd9geQYiGwy2c3sOvkYe6atnoya6LK7WlDTzXR1df1/VazdbqOyF+RHuJ99JR+Yjfj5Z7vdHvX7/fdpmmK9XkOpHPP5N9oXqNUkgiBAGIao10N0Oq/eWpaFgwTGlFJIkgSLxaJMMJtdY7Mt4HkBVK7ALQ7Xkwel8FsLZYCmRbNi59j5/RNQ+O6iri7npe/bvoQvvV7vQ6vVOi2KAqvVqpKiiEENvu+T/jpGo9FHiv18U4LH3W73dB/iLL5CuslgOzb8wEOdID4/eXl81nltOjC8E+J5nCDNMkgC972ICCIgXedfIP7WXrD8RgZ3d+FXByhJ5f8F8YIgxgRx8CdEE2yM1r8hXiyRrFMIh8PzJU1igCcnz47fvTkbMMZ2ECeTCaIoQpZl+hCiwvnlJZIshePaiHQILjRcgkiP5JxzLJdLiOFwiGazCcdxxK3DtDeJ9IBlqhyPxyUDScMRNBoNVwhRDott26UEy5FwN1fgDisluK6EJTjiOJbT6fQR3b0mznhA3pBSPtVaP8xzapXWVQ9AUpn5wJRMqzZ7Op9TBZ/ofPpDgAEAVsgZ8oLpshEAAAAASUVORK5CYII=");
 padding-left:30px;
}
#pkdebugbar a.hidebar {
 background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYFJREFUeNrEkzFLw0AUx1/SpE02C0UXF6EgLXQxxc3BSUWsm1N1qVBwkIyOrgoFwY+gW0E36SQ4OIhmMIN+ACelWi1terlcLr5rTTE2oNDBB/+85HL/X+7du0hBEMA4IcOYMTZACW9y+7eQ1DRI6Xo/K8lkGYcXsMSqeP/RbA5NAedwv1eIAr4HmsqMUjN8Jo7z9xKE2XNdc2tt2qCEgNPpAPO830sIzWgydzYLRqvFwO31xPBdzEcsTNUIgHO+jAZztzJv2HYbdD0BpcWsIbrMeQAiCymKBPULe3QFpNsdZOIDYz44LgfH49B1CBCXAvVYH5RKqcO50RX4fsOjNHN41DBLlSXDevXg6ezSiqtbkiRrBNC+OQF5MncK6SzUj8/Nme0Nw8XdV1S1KMnRvWbPD3hdHcDCo4zUAXEqD4n8elnOzPbbSK8Oiv7LY1yrYwE6Ki2UMCoroE3M+de1WuhBdVBvqHf0sTiAitK+QD8PmZhIUaK3BH08Avi3n+lTgAEAiza4dOMU/9wAAAAASUVORK5CYII=");
 padding:0px 16px;
}
#pkdebugbar a.showbar {
 background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYdJREFUeNrEUz9IAmEUf6dlpqAQUksNDQ1NQR/NEdSSU1uEW0OrW2tjo0OLQbQcBNFik1C0tGpgglI0SpCcmXZ/v7vvu953nZWnQeDQgx/vce+93/vzvZNc14VRJAQjysgEYz1j6bAKUuibL5lKeVqSpDyqW4dSmZomWIYBQtcPVvoJgqJ1OhCNxYRJBPxdyX8ewbFt0FXVq5ZJzxLbsrJIkvl1BHTmgXPy08k4B4ZErZYNO+l5cnpRywY7+SLA2cju9jJRVQdEjAgUmnMXFMWERoPB1voCObusZDFcQRT7CExNA8viQCn3kqnDQbds0AwT2l0d3jULujThxQ0dATsoHx1fDd1HcnONxGckuC7clPFVcuORSHHYDvY4Y32JLu4Al1nqRuPQlM+9ZGg/yUazjt6Nz2funTI6ByqHpxchsrpfEjZXHnKsVpCdl1qv4MAdhBEJxJSvQwwr0efqI5hvd6x8co/f5hCvCF1wBDsQNzGBmPR1sCUxn4kwELbrJ0r//jd+CDAARWTMh3/g7aIAAAAASUVORK5CYII=");
 padding:0px 16px;
}
#pkdebugbar .fullscreen {
 background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXNJREFUeNqckb9KA0EQxmfXzR1KBMHKztMmkkK0lJDGvIFgY2Nhp4ggBi3SBjFIBEFbH8AmryBprFKpWBgxnZhC8HKJyd2t+41/iGJMzoHvbnbn+w07u2ItX18SQhSIyKFoca+13lHt9mthZbHjTE/4FAQ++X5g1KFOB7lPYRiS1vAPkRCKpZRFtbrtlC7tgvK8hiNbD1StajZDQRCw/sohz0s7ynVdymQy9J84X68QNzCzUHq1zJtzM2N0lE3+CmwdXFHl5pnzi7MUgZVmhI/jNCgxadHhduLrqD+FGjzdjGw2W1xMTo3Q8d5sT/hT8MCLHKx5BZ8XJ7l5vvVBAl4wYJXWgheDwt0BVklp8TxRG0gpCayMxd7n2dy/4yaDCF4wYKVlxXlxXSXKFh/7XiI88CIHK207ziPgf1tTlDtt9IRRg6ebUfhgnlJxvO/c+Q3r2x1wA/epUl7eXUiZrYhvEBJYYbJho1EjFbEDnu3lTYABAATDUkvUTcXaAAAAAElFTkSuQmCC");
 padding:0 15px;

}
#pkdebugbar li a#hideshow {
 cursor:pointer;
} 
#pkdebugbar div.window {
 display:none; 
 position:absolute;
 bottom:28px;
 left:10px;
 right:10px;
 width:94%;
 height:420px;
 overflow:auto;
 padding:12px 20px;
 border:1px solid #ccc;
 border-bottom:0;
 text-align:left;
 background:#e9e9e9;
 font-size:12px;
 border-radius:6px 6px 0 0;
 -moz-border-radius:6px 6px 0 0;
 -webkit-border-radius:6px 6px 0 0;
 -o-border-radius:6px 6px 0 0;
 z-index:999;
 
}
#pkdebugbar div.window.vsmall { width:300px; height:180px; }
#pkdebugbar div.window.small { height:250px; }
#pkdebugbar div.window.medium { height:400px; width:600px;}
#pkdebugbar div.window.large { height:550px; }

#pkdebugbar div.window h2 {
 margin:10px 0 10px 0;
 font-size:18px !important;
 text-shadow:2px 2px 0 #ccc;
}