/* Override some defaults */
html, body {
  
  background-color: #eee;
  font-family:Chivo;
  font-size:16px;
}
body {
  background:#eee url('../img/drip2.png') 0 38px repeat-x;
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 10px -20px 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px 6px 6px 6px;
     -moz-border-radius: 6px 6px 6px 6px;
          border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background:#f1f1f1;
  text-shadow:2px 2px 0 #fff;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
 background-image: linear-gradient(bottom, rgb(245,245,245) 33%, rgb(241,241,241) 79%);
background-image: -o-linear-gradient(bottom, rgb(245,245,245) 33%, rgb(241,241,241) 79%);
background-image: -moz-linear-gradient(bottom, rgb(245,245,245) 33%, rgb(241,241,241) 79%);
background-image: -webkit-linear-gradient(bottom, rgb(245,245,245) 33%, rgb(241,241,241) 79%);
background-image: -ms-linear-gradient(bottom, rgb(245,245,245) 33%, rgb(241,241,241) 79%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.33, rgb(245,245,245)),
	color-stop(0.79, rgb(241,241,241))
);

}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
  min-height: 200px;
}
/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

.topbar2 {
 z-index:2;
 margin-top:-40px;
}
.topbar2 .brand {
  font-family: 'Merienda One', cursive;
  font-size:18px;
  text-shadow:2px 2px 0 #333;
  color:#fff;
  text-decoration:none;
}
.topbar2 .fill {
  background-image:none;
  background-color:#000000 !important;
  background:#000000 !important;
  padding-top:20px;
}
.topbar2 .btn {
  border: 0;
}
.topbar2 a {
  
}

.coffee_cup {
  position:absolute;
  margin:-60px 0 0 -70px;
  width:128px;
  height:128px;
  background:url('../img/1321325090_Coffecup.png') 10px 120% no-repeat;
}